__pycache__/
*.py[cod]
*.egg-info/

.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/

models/*
!models/.gitkeep

data/*
!data/data.txt

*.pth
*.pt
*.ckpt
*.safetensors

notebooks/
adapter/
dataset/
datasets/
experiments/
output/
